<template>
    <div class="activity">
        <Filters v-if="filtering" />
        <ProgressBar v-if="increasing" label="Difficulty / Progress" />
        <CallButton :filtering="filtering" :increasing="increasing" />
        <Card />
    </div>
</template>

<script>
    import Filters from "./Filters";
    import ProgressBar from "./ProgressBar.vue";
    import CallButton from './CallButton.vue';
    import Card from "./Card";

    export default {
        name: 'Activity',
        components: {
            Filters,
            ProgressBar,
            CallButton,
            Card
        },
        props: {
            filtering: Boolean,
            increasing: Boolean
        }
    }
</script>

<style>
  .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>