<template>
    <div class="call-button" v-on:click="getActivity">
      <Button text="I'm bored!!" />
    </div>
</template>

<script>
  import axios from "axios";
  import Button from "./ui/Button.vue";

  export default {
    name: "CallButton",
    props: ["filtering", "increasing"],
    components: {
        Button,
    },
    methods: {
        // Check filter params for api call when needed
        filterParams: function() {
            var params = null;
            if (this.filtering || this.increasing) {
                // Create querystring from params
                params = new URLSearchParams({});
                for (const property in this.filters) {
                    if (this.filters[property]) {
                        params.append(property, this.filters[property])
                    }
                }
            }
            return params;
        },
        // Set accesibility according progress-step
        setIncrease: function () {
                // When finished set message and reset accesibility
                if (this.filters.accessibility == 1.1) {
                    this.$store.commit("setMessage", "You completed all difficulties!!!    (You should propably find a hobby)");
                    this.$store.commit("setFinished", true);
                }
                // While stepping through progress
                if (this.filters.accessibility !== null && this.filters.accessibility !== 1.1) {
                    // Number gets rounded to 1 decimal (eg: 1.3333 = 1.3)
                    this.$store.commit("setIncrease",
                        Math.round((this.filters.accessibility + 0.1) * 10) / 10);
                }
                // Set accesibility at start on 0
                if (!this.filters.accessibility) {
                    this.$store.commit("setIncrease", 0);
                }
        },
        // Make the api call
        getActivity: function () {
            if(this.increasing){
                this.setIncrease();
            }
            if (!this.finished) {
                axios
                    .get("https://www.boredapi.com/api/activity/", { params: this.filterParams() })
                    .then(response => {
                        if (response.data.error) {
                            this.$store.commit("setMessage", response.data.error);                      
                        } else {
                            this.$store.commit("setActivity", response.data);                      
                        }
                    })
            }
        }
    },
    computed: {
        filters () {
            return this.$store.state.filters;
        },
        finished () {
            return this.$store.state.finished;
        },     
    }
  }
</script>

<style lang="scss" scoped>
    .call-button {
        button {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
</style>