<template>
    <div v-if="activity || message" class="card">
        <div class="card-header">
            <h2 v-if="message">{{ message }}</h2>
            <h2 v-if="activity">{{ activity.activity }}</h2>
        </div>
        <div v-if="activity" class="card-body">
            <p :class="'accessibility accessibility-' + activity.accessibility"></p>
            <p class="label" :class="activity.type">{{ activity.type }}</p>
            <div class="participants">
                <span>{{ activity.participants }}</span>
                <font-awesome-icon :icon="['fa', 'users']" />
            </div>
            <Rating label="Price" :value="this.activity.price" />
            <Rating label="Accessibility" :value="this.activity.accessibility" />
        </div>
    </div>
</template>

<script>
    import Rating from "./Rating.vue";

    export default {
        name: 'Card',
        components: {
            Rating
        },
        computed: {
            message () {
                return this.$store.state.message;
            },
            activity () {
                return this.$store.state.activity;
            }
        }
    }
</script>

<style lang="scss" scoped>
  $label-color: darken(#7aab9c, 26%);
  $btn-shadow: darken(#7aab9c, 10%);

  .card {
    position: relative;
    border: 1px solid $btn-shadow;
    box-shadow: 0 6px $btn-shadow;
    border-radius: 5px;
    color: $label-color;
    width: 400px;
    padding: 25px 15px;
    margin-bottom: 30px;

    .participants {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 50px;
        height: 30px;

        span {
            font-size: 16px;
            font-weight: 500;
            margin-right: 5px;
        }
    }
  }

  .label {
      text-transform: uppercase;
      font-weight: 700;
      color: $label-color;
      background-color: #fff;
      padding: 5px 0;
      margin-left: -15px;
      margin-right: -15px;

      &.education {
        background-color: #d5d6ea;
      }
      &.recreational {
        background-color: #f6f6eb;
      }
      &.social {
        background-color: #f5d5cb;
      }
      &.diy {
        background-color: #f3ddf2;
      }
      &.charity {
        background-color: #dcc2a7;
      }
      &.cooking {
        background-color: #f4e4ca;
      }
      &.relaxation {
        background-color: #c7e4f4;
      }
      &.music {
        background-color: #9fc4e1;
      }
      &.busywork {
        background-color: #dff0a9;
      }
  }
</style>