<template>
    <div class="filters">
        <Slider v-model="filters.accessibility" min="0.0" max="1.0" step="0.1" name="accessibility" />
        <Select v-model="filters.type" :options="options" name="type" />
        <Slider v-model="filters.participants" min="0" max="5" step="1" name="participants" />
        <Slider v-model="filters.price" min="0.0" max="1.0" step="0.1" name="price" />
        <ResetButton />
    </div>
</template>

<script>
    import Slider from "./ui/Slider.vue";
    import Select from "./ui/Select.vue";
    import ResetButton from "./ResetButton.vue";

    export default {
        name: 'Filters',
        components: {
            Slider,
            Select,
            ResetButton
        },
        data() {
            return {
                options: [
                    { text: 'education', value: 'education' },
                    { text: 'recreational', value: 'recreational' },
                    { text: 'social', value: 'social' },
                    { text: 'diy', value: 'diy' },
                    { text: 'charity', value: 'charity' },
                    { text: 'cooking', value: 'cooking' },
                    { text: 'relaxation', value: 'relaxation' },
                    { text: 'music', value: 'music' },
                    { text: 'busywork', value: 'busywork' },
                ]
            };
        },
        computed: {
            filters () {
                return this.$store.state.filters;
            }
        }
    }
</script>

<style lang="scss" scoped>
  $shadow: darken(#7aab9c, 10%);

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $shadow;
    box-shadow: 0 6px $shadow;
    border-radius: 5px;
    padding: 15px 50px;
    margin-bottom: 30px;
  }
</style>