<template>
    <div class="nav">
        <div v-for="page in pages" :key="page" class="nav-btn" :class="page == currentPage ? 'active' : null" @click="setPage(page)">
            <font-awesome-icon :icon="mapIcon(page)" />
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Nav',
        computed: {
            pages () {
                return this.$store.state.pages;
            },
            currentPage () {
                return this.$store.state.page;
            }
        },
        methods: {
            // Reset values after page change
            setPage (value) {
                this.$store.commit("setPage", value);
                this.$store.commit("setActivity", null);
                this.$store.commit('resetFilters');
            },
            // Map page-icon accordingly
            mapIcon (page) {
                const icons = {
                    "activity": ['fa', 'home'],
                    "filtered-activity": ['fa', 'filter'],
                    "increasing-activity": ['fa', 'arrow-up'],
                }
                return icons[page];
            }
        }
    }
</script>

<style lang="scss">
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
        margin-bottom: 30px;

        .nav-btn {
            display: block;
            width: 60px;
            height: 40px;
            background-size: cover;
            cursor: pointer;
            padding-bottom: 20px;

            &.active {
                padding-bottom: 18px;
                border-bottom: 2px solid rgba(#000, 0.6);
            }

            svg {
                height: 100%;
                width: auto;
            }
        }
    }
</style>