<template>
    <div class="progress-bar">
        <p class="label">{{ label }}</p>
        <div class="bar">
            <div class="progress" :style="'width:' + value + '%;'"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ProgressBar',
        props: ["label"],
        computed: {
            value () {
                // Match value for progress-bar step
                return this.$store.state.filters.accessibility ?
                        this.$store.state.filters.accessibility*92 : 0;
            }
        }
    }
</script>

<style lang="scss">
    $progress: darken(#7aab9c, 10%);

    .label {
        font-size: 18px;
        font-weight: bold;
        color: #3e6257;
        margin-top: 0;
    }

    .bar {
        width: 300px;
        height: 30px;
        background-color: #fff;
        opacity: 0.8;
        margin-bottom: 30px;

        .progress {
            height: 30px;
            background-color: $progress;
            transition: width 2s ease;
        }
    }

</style>