<template>
    <div>
        <p class="rating-label">{{ label }}</p>
        <font-awesome-icon v-for="index in rated" :key="label + index + '-checked'" :icon="['fa', 'star']" style="color: #E2C547;" />
        <font-awesome-icon v-for="index in notrated" :key="label + index" :icon="['fa', 'star']" />
    </div>
</template>

<script>
    export default {
        name: 'Rating',
        props: ["label", "value"],
        computed: {
            rated () {
                return this.value ? Math.round(this.value*5) : null;
            },
            notrated () {
                return this.value ? 5 - this.rated : 5;
            },
        }
    }
</script>

<style lang="scss">
  .rating-label {
      font-weight: 500;
  }

  .fa-star { 
    font-size: 20px;
    color: #ACACAC;
  }
</style>