<template>
    <div class="reset-button" v-on:click="resetFilters">
      <Button text="Reset filters" />
    </div>
</template>

<script>
  import Button from "./ui/Button.vue";

  export default {
    name: "ResetButton",
    components: {
        Button,
    },
    methods: {
        resetFilters: function() {
            this.$store.commit('resetFilters');
        }
    }
  }
</script>

<style lang="scss" scoped>
    .reset-button {
        button {
            font-size: 14px;
            width: 140px;
            height: 40px;
            margin-bottom: 10px;
        }
    }
</style>
