<template>
  <div id="app">
    <Nav />
    <Activity :filtering="page == 'filtered-activity' ? true : false"
              :increasing="page == 'increasing-activity' ? true : false" />
  </div>
</template>

<script>
import { store } from './store/Store.js'
import Nav from "./components/Nav.vue";
import Activity from './components/Activity.vue';

export default {
  name: 'App',
  store: store,
  components: {
    Nav,
    Activity
  },
  computed: {
    page () {
        return this.$store.state.page;
    }
  },
}
</script>

<style>
body {
  background-color: #C2DDC8;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
</style>
