<template>
    <button>{{ text }}</button>
</template>

<script>
    export default {
        name: 'Button',
        props: ["text"],
    }
</script>

<style lang="scss" scoped>
  $btn-color: #7aab9c;
  $shadow: darken($btn-color, 10%);

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background-color: $btn-color;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px $shadow;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;

    &:hover {
        top: 2px;
        box-shadow: 0 4px $shadow;
    }
  }
</style>