<template>
  <div class="filter-row">
    <label :for="name">{{ name }}</label>
    <select class="select" :name="name" :value="value" @input="$emit('input', $event.target.value)">
      <option v-for="option in options" :key="option.key" :value="option.value">{{ option.text }}</option>
    </select>
  </div>
</template>

<script>
    export default {
        name: "Select",
        props: ["value", "options", "name"]
    }
</script>

<style lang="scss" scoped>
  $outline: lighten(#7aab9c, 10%);
  $shadow: darken(#7aab9c, 10%);
  $label-color: darken(#7aab9c, 26%);

  .filter-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px dotted $shadow;
    width: 300px;
    padding: 10px 0;

    label {
      font-size: 18px;
      font-weight: bold;
      color: $label-color;
      margin-bottom: 10px;
    }

    select {
      font-size: 14px;
      color: $label-color;
      border: none;
      width: 140px;
      padding: 5px;
      margin-bottom: 5px;
      opacity: 0.8;
      -webkit-transition: .2s;
      transition: opacity .2s;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: 1px solid $outline;
      }
    }
  }
</style>