<template>
  <div class="filter-row">
    <label :for="name">{{ name }}</label>
    <div class="inoutput">
      <input type="range" class="slider" :name="name" :min="min" :max="max" :step="step"
              :value="value" @input="$emit('input', $event.target.value)">
      <div class="output">{{ value }}</div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Slider',
        props: ['value', "min", "max", "step", "name"]
    }
</script>

<style lang="scss" scoped>
  $shadow: darken(#7aab9c, 10%);
  $label-color: darken(#7aab9c, 26%);

  .filter-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px dotted $shadow;
    width: 300px;
    padding: 10px 0;

    &:nth-child(4) {
      border-bottom: none;
    }

    label {
      font-size: 18px;
      font-weight: bold;
      color: $label-color;
      margin-bottom: 10px;
    }

    input {
      -webkit-appearance: none;
      width: 140px;
      height: 8px;
      margin-bottom:10px;
      opacity: 0.8;
      -webkit-transition: .2s;
      transition: opacity .2s;

      &:hover {
        opacity: 0.9;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background: $shadow;
        cursor: pointer;
      }
    }

    .output {
      display: block;
      color: $label-color;
      min-height:22px;
    }
  }
</style>